	* {
		font-family: Helvatica, serif;
	}
	/* Header Styles */
	#navigation {
		background-color: yellow;
		border: 0;
		border-radius: 0;
		padding: 20px;
	}
	.navbar-brand {
		width: 50px;
		height: 50px;
		margin: 10px;
		margin-top: 10px;
		color: blue !important;
		font-size: 200%;
		display: inline;
	} 
	.menu-items {
		font-size: 130%;
		color: red;
		padding: 10px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
	}
	ul {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	@media (max-width: 768px) {
		ul {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.menu-items:hover {
		background-color: #E7E7E7;
	}
	.menu-items-holder {
		display: inline;
		float: left;
		clear: both;
		margin-left: auto;
		margin-right: auto;
	}
	/* Main Content Styles */
	.text-center {
		text-align: center;
		margin: 5px auto 10px;
		font-size: 300%;
		color: maroon;
	}
	.menu-holder{
		text-align: center;
		height: 700px;
	}
	.menu-titles {
		background-color: red;
		box-sizing: border-box;
		width: 80px;
		border: 1px solid black;
		margin: 10px auto 10px;
		overflow: hidden;
		font-size: 1.5em;
	}
	div section {
		background-color: #FAEBD7;
		margin-bottom: 10px;
	}
	.menu-description {
		background-color: #FAEBD7;
		border: 1px solid black;
	}
	.col-md-12 .col-sm-12 .col-xs-12 {
		margin-left: auto;
		margin-right: auto;
	}